<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
    <div class="container">
    <h1>Food Lovers</h1>
    <p>For all those are always looking to improve their meals experiences</p>
    </div>
</div>

<div class="container">
    <% @restaurants.each do |restaurant| %>
    <div class="card">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= restaurant.name %>
        </div>
            <%= link_to "Info", restaurant_path(restaurant), class: "btn info-restaurant-link"%>
        </div>
    <% end %>
</div>

<div class="footer">
    <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
    Food Lovers <i class="fas fa-heart"></i>
    </div>
</div>
 