.navbar {
  background-color: #FD3438;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 35px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgb(241, 241, 241);
}

.navbar-dark .navbar-toggler {
  border-color: rgb(226, 226, 226);
}