.card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .card-category:hover {
    opacity: 80%;
  }

  .info-restaurant-link {
    background-color: black;
    color: white;
    line-height: bold;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-color: black;
  }

  .info-restaurant-link:hover {
    color: white;
  }
  

  ////////OLD HTML CARDS////
  
/* <div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title"><%= restaurant.name.upcase %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.category %></h6>
    <p class="card-text"><%= restaurant.address %></p>
    <%= link_to "Info", restaurant_path(restaurant), class: "btn btn-danger info-restaurant-link"%>
</div>
</div> */